//? Call to action for external elements
@use '../global/variables' as var; // Importing variables with alias 'var'
@use '../base/fonts'; // Importing font styles
@use '../global/functions'; // Importing global functions
@import '../global/mixins'; // Importing mixins for reuse

#toggle-aside {
    @include button-styles(var.$contrast, var.$neutral-two); // Apply button styles mixin
    position: fixed; // Fix position on the screen
    padding: 10px 200px; // Padding for the button
    top: 8.4%; // Position from the top
    right: 20%; // Position from the right
    transform: translateX(50%); // Translate horizontally by 50%
    z-index: 3; // Ensure it is above other elements

    &:hover {
        color: var.$secondary-dark; // Change color on hover
    }
}

#sidebar-one {
    position: fixed; // Fix position on the screen
    top: -100%; // Initially hidden
    left: 66.59%; // Position from the left
    width: 26.8%; // Width of the sidebar
    height: 20%; // Height of the sidebar
    background-color: var.$primary; // Background color
    color: var.$neutral-two; // Text color
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); // Add shadow
    transition: top 0.3s ease-in-out; // Smooth transition for top property
    display: flex; // Use flexbox layout
    align-items: center; // Center items vertically
    z-index: 2; // Ensure it is above other elements
    flex-direction: column; // Arrange children in a column direction
    padding-top: 40px; // Padding at the top

    p {
        font-size: 2em; // Font size for paragraphs
        a {
            width: 80%; // Width of the links
            text-align: center; // Center text within the links
            padding: 12px; // Padding for the links
            text-decoration: none; // Remove underline from links
            border-radius: 5px; // Rounded corners for links
            transition: background-color 0.3s ease; // Smooth transition for background color
            color: var.$neutral-two; // Text color

            &:hover {
                color: var.$neutral-one; // Change color on hover
            }
        }
    }
}

#sidebar-two {
    position: fixed; // Fix position on the screen
    top: -100%; // Initially hidden
    left: 66.50%; // Position from the left
    width: 27%; // Width of the sidebar
    height: 20%; // Height of the sidebar
    background-color: var.$primary; // Background color
    color: var.$neutral-two; // Text color
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); // Add shadow
    transition: top 0.3s ease-in-out; // Smooth transition for top property
    display: flex; // Use flexbox layout
    align-items: center; // Center items vertically
    z-index: 2; // Ensure it is above other elements
    padding-top: 20px; // Padding at the top
    padding-bottom: 40px; // Padding at the bottom
    font-family: var.$font-base; // Base font family

    #aside-left {
        display: flex; // Use flexbox layout
        align-items: center; // Center items vertically
        margin-right: 20px; // Add margin to the right to separate from the vertical separator
    }

    #aside-username {
        display: flex; // Use flexbox layout
        align-items: center; // Center items vertically
        text-decoration: none; // Remove underline from text
        color: var.$neutral-two; // Text color
        transition: color 0.3s ease; // Smooth transition for color

        &:hover {
            color: var.$neutral-one; // Change color on hover
        }

        #pfpaside {
            width: 100px; // Adjust image size
            height: 100px; // Adjust image size
            border-radius: 50%; // Make image circular
        }

        .aside-username-text {
            font-size: 2rem; // Adjust text size
            font-family: var.$font-base; // Base font family
            padding-top: 20px; // Padding at the top
        }
    }

    #vertical-separator {
        width: 2px; // Width of the separator
        height: 140px; // Height of the separator
        background-color: var.$neutral-two; // Background color
        color: var.$neutral-two; // Text color
        margin-left: 20px; // Margin to the left
    }

    #aside-content {
        justify-content: center; // Center content horizontally
        align-items: center; // Center content vertically

        ul {
            list-style: none; // Remove list style
            padding: 0; // Remove padding
            margin: 0; // Remove margin
            text-align: center; // Center text within the list
            margin-right: 10px; // Margin to the right
            li {
                font-family: var.$font-base; // Base font family
                padding-top: 2px; // Padding at the top
                a {
                    text-decoration: none; // Remove underline from links
                    color: var.$neutral-two; // Text color
                    transition: color 0.3s ease; // Smooth transition for color
                    font-weight: 500; // Font weight
                    font-size: 0.8em; // Font size

                    &:hover {
                        color: var.$neutral-one; // Change color on hover
                    }
                }
                #PRASlink {
                    font-size: 1.3em; // Font size for PRAS link
                    font-weight: bold; // Font weight for PRAS link
                }
            }
        }
    }
}

#sidebar-one.active {
    top: 60px; // Show sidebar-one when active
}

#sidebar-two.active {
    top: 60px; // Show sidebar-two when active
}

#toggle-aside.active {
    top: 170px; // Adjust toggle-aside position when active
}

@media (max-width: 768px) {
    #toggle-aside {
        top: 5.5%; // Adjust position from the top
        margin-right: 20.5px; // Adjust margin from the right
        padding: 10px 127px; // Adjust padding
        p {
            font-size: 0.8em; // Adjust font size
            a {
                width: 80%; // Adjust width
                padding: 10px; // Adjust padding
            }
        }
    }

    #sidebar-one {
        padding-top: 30px; // Adjust padding at the top
        width: 34.5%; // Adjust width
        margin-left: -50px; // Adjust margin from the left
        height: 10%; // Adjust height
        p {
            font-size: 1.5em; // Adjust font size
            a {
                width: 100%; // Adjust width
            }
        }
    }

    #sidebar-two {
        padding-top: 10px; // Adjust padding at the top
        width: 34.7%; // Adjust width
        margin-left: -50px; // Adjust margin from the left
        height: 10%; // Adjust height
        #aside-username {
            #pfpaside {
                width: 50px; // Adjust image size
                height: 50px; // Adjust image size
            }
            .aside-username-text {
                font-size: 1.2rem; // Adjust text size
                padding-bottom: 12px; // Adjust padding at the bottom
            }
        }
        #aside-content {
            ul {
                li {
                    a {
                        font-size: 0.6em; // Adjust font size
                        padding-bottom: 20px; // Adjust padding at the bottom
                    }
                    #PRASlink {
                        font-size: 1em; // Adjust font size for PRAS link
                    }
                }
            }
        }
    }

    #toggle-aside.active {
        top: 135px; // Adjust toggle-aside position when active
    }
}

@media (max-width: 480px) {
    #toggle-aside {
        top: 6.5%; // Adjust position from the top
        margin-right: 125px; // Adjust margin from the right
        padding: 10px 127px; // Adjust padding
        p {
            font-size: 0.8em; // Adjust font size
            a {
                width: 80%; // Adjust width
                padding: 10px; // Adjust padding
            }
        }
    }

    #sidebar-one {
        padding-top: 30px; // Adjust padding at the top
        width: 64.2%; // Adjust width
        margin-left: -202.5px; // Adjust margin from the left
        height: 12%; // Adjust height
        p {
            font-size: 1.3em; // Adjust font size
            a {
                width: 100%; // Adjust width
            }
        }
    }

    #sidebar-two {
        padding-top: 10px; // Adjust padding at the top
        width: 64.2%; // Adjust width
        margin-left: -202px; // Adjust margin from the left
        height: 11%; // Adjust height
        #aside-username {
            #pfpaside {
                width: 50px; // Adjust image size
                height: 50px; // Adjust image size
            }
            .aside-username-text {
                font-size: 1.2rem; // Adjust text size
                padding-bottom: 12px; // Adjust padding at the bottom
            }
        }
        #aside-content {
            ul {
                li {
                    a {
                        font-size: 0.6em; // Adjust font size
                        padding-bottom: 20px; // Adjust padding at the bottom
                    }
                    #PRASlink {
                        font-size: 1em; // Adjust font size for PRAS link
                    }
                }
            }
        }
    }

    #toggle-aside.active {
        top: 135px; // Adjust toggle-aside position when active
    }
}

@media (max-width: 360px) {
    #sidebar-one {
        padding-top: 25px; // Adjust padding at the top
        width: 72.5%; // Adjust width
        margin-left: -208.5px; // Adjust margin from the left
        height: 12%; // Adjust height
        p {
            font-size: 1.3em; // Adjust font size
            a {
                width: 100%; // Adjust width
            }
        }
    }

    #sidebar-two {
        padding-top: 30px; // Adjust padding at the top
        width: 73%; // Adjust width
        margin-left: -208.5px; // Adjust margin from the left
        height: 11%; // Adjust height
    }
}