//? Call to action for external elements
@use '../global/variables' as var;
@use '../base/fonts';
@import '../global/mixins';

header{
    height: 60px;
    background-color: var.$primary;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;

    #logo-container{
        text-decoration: none;
        display: flex;
        align-items: center;

        #logo{
            @include image-styles(70px, auto);
        }
    
        #logo-text{
            color: var.$neutral-two;
            font-family: var.$font-title;
            font-size: 0.70em;
            font-weight: bold;
            text-align: center;

            .header-title{
                @include header-title-styles(1.5em);
            }

            .header-subtitle {
                @include header-title-styles(1.2em);
            }

            #header-separator{
                width: 100%;
                height: 2px;
                background-color: var.$neutral-two;
                border-color: var.$neutral-two;
                color: var.$neutral-two;
                margin: 5px 0;
            }
        }
    }

    .header-title{
        @include header-title-styles(0.90em);
    }

    #navbar{
        margin-left: 650px;
        ul{
            list-style: none;
            display: flex;
            gap: 30px;

            li{
                align-items: center;
                position: relative;

                picture{
                    align-items: center;
                    margin-right: 10px;

                    .navlogos {
                        @include image-styles(45px, 45px);
                    }
                }

                a {
                    @include navbar-link-styles;
                }

                .header-title:hover{
                    color: var.$neutral-one;
                }

                details{
                    summary{
                        display: flex;
                        align-items: center;
                        cursor: pointer;

                        .header-title{
                            margin-left: 10px;
                            &:hover{
                                color: var.$neutral-one;
                            }
                        }
                    }

                    .navdrop{
                        list-style: none;
                        padding: 10px;
                        background-color: var.$primary;
                        border-radius: 5px;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        width: 100%;
                        display: none;
                        text-align: center;

                        li{
                            margin: 5px 0;
    
                            a{
                                color: var.$neutral-two;
                                display: block;
                                width: 100%;
                                font-family: var.$font-title;
    
                                &:hover{
                                    color: var.$neutral-one;
                                }
                            }
                        }
                    }

                    &[open] .navdrop{
                        display: block;
                    }
                }
            }
        }
    }

    #decor-left, #decor-right{
        position: absolute;
        top: 0;
        width: auto;
        height: 100%;
    }

    #decor-left{
        left: 0;
    }

    #decor-right{
        right: 0;
    }
}