//! GLOBAL VARIABLES

//? COLORS
$primary: #A87B05;
$secondary-light: #F9DB5C;
$secondary-dark: #EFB810;
$neutral-one: #B8B8B8;
$neutral-two: #F7F7F7;
$contrast: #000000;

//? FONTS
$font-base: 'Spectral', serif;
$font-title: 'Aldrich', sans-serif; 