//! GLOBAL VARIABLES

//? COLORS
$primary: #A87B05; // Primary color used for main elements
$secondary-light: #F9DB5C; // Light secondary color used for highlights
$secondary-dark: #EFB810; // Dark secondary color used for accents
$neutral-one: #B8B8B8; // Neutral color one used for backgrounds and borders
$neutral-two: #F7F7F7; // Neutral color two used for text and light backgrounds
$contrast: #000000; // Contrast color used for high contrast elements
$extra: #6A0DAD; // Extra color used for special elements

//? FONTS
$font-base: 'Spectral', serif; // Base font used for body text
$font-title: 'Aldrich', sans-serif; // Title font used for headings and titles